<!DOCTYPE html>

<html>

<head>

<title>Forgot Password</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='css/style.css')}}">

</head>

<body>

<div class="login">

<h2>Reset Password</h2>

<form action="/reset" method="POST">

<input
type="text"
name="username"
placeholder="Username"
required>

<select name="question">

<option>
What is your favourite color?
</option>

</select>

<input
type="text"
name="answer"
placeholder="Answer"
required>

<input
type="password"
name="newpassword"
placeholder="New Password"
required>

<button>

Reset Password

</button>

</form>

</div>

</body>

</html>