<!DOCTYPE html>
<html>

<head>

<title>Admin Login</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="login-box">

<h1>AI Smart Attendance</h1>

<h3>Admin Login</h3>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form action="{{ url_for('admin.check_login') }}" method="POST">

<input
type="text"
name="username"
placeholder="Username"
required>

<input
type="password"
name="password"
placeholder="Password"
required>

<button type="submit">
Login
</button>

</form>

</div>

</body>

</html>